#body{
    margin:0px;
}
.header{
    margin-left:15%;
    margin-right:15%;
  }
  
  .back{ 
      display: flex;
      flex-direction: column;
  }
  
  .href_l{

      margin-top: 2.3%;
      margin-right: 0;
  }
  .href{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: white;
      text-decoration: none;
      padding: 1%;
  }
  .href:hover{
    text-decoration: underline 2px solid orangered;
    
  }
  .logo{
      width: 17%;
      height: 17%;
      padding-top: 1%;
      margin-top: 1%;
      margin-right: 2%;
      float: left;
  }
  .tarif{
      font-family: 'Montserrat', sans-serif;
      display: flex;
      margin-top: 10%;
      color:white;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      border: 2px solid orangered;
      border-radius: 4%;
  }
  .unheader_l{
      padding-right:4%;
      margin-top: 5%;
  }
  .unheader_r{
      padding-right: 3%;
      margin-top: 5%;
      margin-left: 4%;
  }
  .table{
      color:white;
      width:auto;
      padding-top: 2%;
  }
  .tab_d{
       border-left: 3px solid orangered;
       padding: 1%;
       padding-right:5%;
       padding-left: 2%;
       width: auto;
  }
  .tab_dn{
      margin: 5%;
      padding: 8%;
  }
  .tab_ho{
      margin-top:-30px;
      font-size: 45px;
      font-weight: 600;
  }
  .tab_h{
      font-size: 30px;
      font-weight: bolder;
  }
  .tab_u{
      font-size: 14px;
  }
  .unheader{
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: row;
      margin-top: 1%;
      margin-left:15%;
      margin-right: 15%;
  }
  .punheader{
      font-size: 45px;
      font-weight:600;
      margin-left:0%;
      color: white;
      margin-bottom:5%;
  }
  .p_unheader{
      font-size: 18px;
      color: white;
      margin-bottom: 10%;
      padding: 0px;
  }
  .bgvideo {
      opacity: 2;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -999;
  }
  .bg_video{
      position: absolute;
      opacity: 0.8;
      width: 100%;
      z-index: -10;
      left: 0;
      top: 0;
  }
  .list{
      background-color: white;
      z-index: -999;
      min-width: 100%;
      height: 2000px;
      margin-left: 0;
      margin-right: 0;
  }
  .block2{
      display: flex;
      flex-direction: column;
      padding-right: 2%;
      padding-bottom: 2%;
      width: min-content;
      margin-top: 8%;
      margin-left: 15%;
      padding-top: 10%;
  }
  .header_t{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight:900;
      color: rgb(18, 4, 51);
      width: 500px;
  }
  .text{
      margin-top:3%;
      margin-bottom: 3%;
      padding-right: 2%;
      font-family: 'Montserrat: ital', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: rgb(65, 65, 65);
  }
  .unblock2{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 15%;
  }
  .unblock2_l1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .unblock2_l2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .unblock2_elm{
    font-family: 'Montserrat: ital', sans-serif;
    width: 150px;
    padding-right: 5%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(65, 65, 65);
    margin-bottom: 5% ;
  }
  .unblock2_png{
    margin-bottom: 5%;
  }
  .block3{
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 20%;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
   
}
.block3_h{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.unblock3{
    display: flex;
    flex-direction: column;
    
}
.unblock3_l1{
    display: flex;
    flex-direction: row;
}
.unblock3_l2{
    display: flex;
    flex-direction: row;
    
}
.unblock3_elm{
    display:flex;
    flex-direction: column;
    width: 180px;
    height: 240px;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
   
}
.block4{
    display: flex;
    background: rgb(3, 9, 34);
    opacity: 1;
    z-index:-999;
    margin-top: -5%;
    flex-direction: row;
}
.img4{
    background: rgb(3, 9, 34);
    margin-top: 20%;
    width:90%;
    height: 90%;
    left:0;
    bottom:0;
}
.inblock4_2{
    margin-top: 10%;
    margin-right: 20%;
}
.bl4_t{
    display: flex;
    flex-direction: column;
}
.bl4_1{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
}
.bl4_2{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
}
.block5{
    display: flex;
    background: white;
}
.bl5_c{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
.bl5_2{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}
.bl5_elem{
    display: block;
    margin-right: 10%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
